body
{
    background-color: rgb(136, 70, 25);
}

.heading
{
    width: 80%;
    font-size: 25px;
    color:goldenrod;
}

#camera
{
    border: 2px dashed;
    width: 350px;
    height: 300px;
}

.name_of_objects
{
    color: greenyellow;
    font-size: 25px;
}